<div class="jumbotron">
  <%= form_for @conn, cargo_path(@conn, :show), [method: "get", as: :cargo_params], fn f -> %>
    <div class="input-group">
      <%= text_input f, :tracking_id, placeholder: "Tracking Number (e.g. ABC123, IJK456)", class: "form-control" %>
      <span class="input-group-btn">
        <%= submit "Track!", class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
</div>
